name: SonarQube
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest
    steps:
      - name: Install SonarScanner CLI
        run: |
          dotnet tool install --global dotnet-sonarscanner

      - name: Run SonarScanner
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet-sonarscanner begin /k:"zachyjello_Log725_ProjetJeu_Unity_V2" /o:"zachyjello" /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
          # No build step required for Unity
          dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"