name: SonarQube
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    name: Build and analyze
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Cache SonarQube Cloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}\sonar-scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      
      - name: Install SonarQube Cloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path ${{ runner.temp }}\sonar-scanner -ItemType Directory -Force
          Invoke-WebRequest -Uri "https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-6.2.1.4610-windows-x64.zip" -OutFile "${{ runner.temp }}\sonar-scanner.zip"
          Expand-Archive -Path "${{ runner.temp }}\sonar-scanner.zip" -DestinationPath "${{ runner.temp }}\sonar-scanner"
      - name: Analyze with SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: cmd
        run: |
          "%RUNNER_TEMP%\sonar-scanner\sonar-scanner-6.2.1.4610-windows-x64\bin\sonar-scanner.bat" ^
            -Dsonar.projectBaseDir=.
            -Dsonar.scm.enabled=true
            -Dsonar.sources=Assets
            -Dsonar.tests=
            -Dsonar.exclusions=**/Library/**,**/Temp/**,**/Obj/**,**/Build*/**,**/*.meta